<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="utf-8"> <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }} by {{site.github.owner_name }}</title>

    <link rel="stylesheet" href="{{ '/assets/style.css?v=' | append:site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>

<body>

    <div class="site-wrapper">
        <div class="site-wrapper-inner">
        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">CIAN RICE</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                          <li class="active"><a href="#">Home</a></li>
                          <li><a href="about.html">About</a></li>
                          <li><a href="press.html">Press</a></li>
                          <li><a href="projects.html">Projects</a></li>
                          <li><a href="https://www.linkedin.com/in/cian-f-rice/">LinkedIn</a></li>
                          <li><a href="https://www.twitter.com/#!/thecianrice">Twitter</a></li>
                          <li><a href="mailto:thecianrice@gmail.com">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

    <div class="inner cover">
        <h1>Cian Rice</h1>
        <p class="lead">Cian Rice is a web content manager and independent game developer.</p>
    </div>

    <div class="mastfoot">
        <div class="inner">
            <p>&copy; 2017 Cian Rice</p>
        </div>
    </div>

      </div>
      </div>
    </div>

    {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new
        Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto'); ga('send',
        'pageview');
    </script>
    {% endif %}

    <!-- Bootstrap core JavaScript ================================================== -->

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>

</html>
